/* ----------------NAVBAR----------------- */

nav {
  background-color: #f8c0a4;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link:hover {
  border-top: 3px solid #1f1f1f;
}

.main {
  height: 90vh;
  
}

.right-side {
  background-color: #f8c0a4;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}